<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
<h:outputStylesheet library="css" name="style.css"  />
</h:head>
<h:body>
	<ui:param name="slideDelay" value="1000" />
	<ui:param name="errorDelay" value="10000" />
		
	<h:panelGroup layout="block" id="headerPanel" styleClass="header-panel">
		<h:outputText value="Mysore Perfume" styleClass="header-text"/>
	</h:panelGroup>
		
	<p:separator style="border-top-width: 0px;margin-bottom: 30px;" /> 
		
	<h:form id="messageForm">
		<p:messages id="messagesId" closable="true" globalOnly="true" > 
			<p:effect type="fade" event="load" delay="#{errorDelay}"/>
		</p:messages>
	</h:form>
	<h:form>	
		<h:panelGroup layout="block" id="outerPanel" styleClass="main-outer-panel">
			<h:panelGroup layout="block" id="customerTablePanel" styleClass="customer-table-panel mysore-outer-panel">
				<ui:include src="view/customer_table.xhtml" />
			</h:panelGroup>
			
			<h:panelGroup layout="block" id="menuButtonPanel" rendered="#{screenController.showMenuButtonPanel}" styleClass="menu-button-panel mysore-outer-panel" >
				
				<h:panelGroup layout="block" styleClass="menu-button-inner-panel" >
					<p:commandButton 
						value="New Customer" 
						id="newCustomerBtn"
						update="outerPanel, @([id$=customerDlg]), @([id$=headerText])"
						oncomplete="PF('customerDlgWdg').show();"
						actionListener="#{manageController.createNewCustomer(null)}" 
						styleClass="action-button"
						 />
					<p:commandButton 
						value="Referal Customer" 
						id="referalCustomerBtn"
						update="outerPanel, @([id$=customerDlg])"
						oncomplete="PF('customerDlgWdg').show();"
						actionListener="#{screenController.displayReferanceCustomerPanel}"
						styleClass="action-button"
						 />
		
					<p:calendar id="calendarId" value="#{reportController.selectedDate}" styleClass="calendar-input" >
					</p:calendar>
					<p:commandButton 
						value="Daily Report" 
						id="dailyReportBtn"
						oncomplete="PF('reportDlgWdg').show();"
						update="@([id$=outerPanel]), @([id$=reportDlg]), @([id$=dailyReportForm])"
						actionListener="#{reportController.filterRecords}"
						styleClass="action-button daily-report-button" 
						 />
					<a href="j_spring_security_logout" class="logout-button"> <span> Logout </span> </a>
				</h:panelGroup>
			</h:panelGroup>
		
		</h:panelGroup>
	</h:form>
	<ui:include src="view/open_dialog.xhtml" />
	<ui:include src="view/daily_report.xhtml" />
	
</h:body>
</html>