<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<p:dataTable 
			var="customerSummary" 
			id="customerTableId"
			selectionMode="single"
			selection="#{manageController.selectedCustomerSummary}"
			filteredValue="#{manageController.filteredCustomerSummaryReport}"
			rowKey="#{customerSummary.customerId}"
			value="#{manageController.customerSummaryReport}"
			widgetVar="customerTableWdg" 
			styleClass="datatable-table" 
			paginator="true"
			rows="10" 
			paginatorPosition="bottom"
			currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords} Customers Displayed"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {JumpToPageDropdown} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
			rowsPerPageTemplate="10,15,25,50,75,100" 
			pageLinks="5"
			scrollable="true">
			
			<f:facet name="header">
				<p:outputPanel styleClass="searchbox-container">

					<p:inputText 
						id="globalFilter" 
						widgetVar="searchboxWdg"
						onkeyup="PF('customerTableWdg').filter();" 
						styleClass="searchbox"
						placeholder="Search Customer" />

				</p:outputPanel>
			</f:facet>
			
			<p:ajax event="rowSelect"
					listener="#{manageController.onRowSelect}" 
					update="@([id$=outerPanel]), @([id$=customerDlg])"
					oncomplete="PF('customerDlgWdg').show();" />

			<p:column
				filterBy="#{customerSummary.name}"
				filterMatchMode="contains" 
				headerText="Customer Name"
				styleClass="item-name">
				<h:outputText value="#{customerSummary.name}" />
			</p:column>
			
			<p:column
				filterBy="#{customerSummary.phoneNo}"
				filterMatchMode="contains" 
				headerText="Phone no"
				styleClass="item-name">
				<h:outputText value="#{customerSummary.phoneNo}" />
			</p:column>
			
			<p:column
				filterBy="#{customerSummary.selfCode}"
				filterMatchMode="contains" 
				headerText="Selfcode"
				styleClass="item-name">
				<h:outputText value="#{customerSummary.selfCode}" />
			</p:column>
			
			<p:column
				filterBy="#{customerSummary.accountHoldername}"
				filterMatchMode="contains" 
				headerText="Account Holder Name"
				styleClass="item-name">
				<h:outputText value="#{customerSummary.accountHoldername}" />
			</p:column>
			
			<p:column
				filterBy="#{customerSummary.bankAccountNo}"
				filterMatchMode="contains" 
				headerText="Bank Account No"
				styleClass="item-name">
				<h:outputText value="#{customerSummary.bankAccountNo}" />
			</p:column>
			
			<p:column
				filterBy="#{customerSummary.ifscCode}"
				filterMatchMode="contains" 
				headerText="IFSC Code"
				styleClass="item-name">
				<h:outputText value="#{customerSummary.ifscCode}" />
			</p:column>
			
			<p:column
				filterBy="#{customerSummary.branchName}"
				filterMatchMode="contains" 
				headerText="IFSC Code"
				styleClass="item-name">
				<h:outputText value="#{customerSummary.branchName}" />
			</p:column>
			
			<p:column
				filterBy="#{customerSummary.createDate}"
				filterMatchMode="contains"  
				headerText="Create Date"
				styleClass="item-name">
				<h:outputText value="#{customerSummary.createDate}" />
			</p:column>
			
	</p:dataTable>
	
</ui:composition>