<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<h:form id="dailyReportForm" prependId="false">
		<h:panelGroup layout="block" id="dailyReportPanel" rendered="#{screenController.showDailyReportPanel}">
			<p:dialog 
				id="reportDlg"
				widgetVar="reportDlgWdg" 
				modal="false"
				draggable="false"
				resizable="false"
				styleClass="mysore-dialog"
				width="1200"
				>
				
				<f:facet name="header">
					<p:outputLabel value="Report" />
				</f:facet>
				
					<p:dataTable 
						var="purchaseSummary" 
						id="dailyReportTableId"
						value="#{reportController.purchaseSummaryReport}"
						widgetVar="dailyReportWdg" 
						styleClass="datatable-table" 
						paginator="true"
						rows="10" 
						paginatorPosition="bottom"
						currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords} Purchases Displayed"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {JumpToPageDropdown} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
						rowsPerPageTemplate="10,15,25,50,75,100" 
						pageLinks="5"
						width="500"
						scrollable="true">
						
						<p:column
							id="paidColumn"
							headerText="Paid"
							styleClass="item-name">
							 <p:commandButton value="paid" styleClass="action-button" update="dailyReportTableId" actionListener="#{reportController.savePaid(purchaseSummary)}" rendered="#{not empty purchaseSummary.referenceCode}" disabled="#{purchaseSummary.isIncentiveReleased}">
								<p:confirm header="Incentive Released Incentive" message="Are you sure want to mark this purchase as paid?" 
									icon="ui-icon-alert" />
							 </p:commandButton>
						</p:column>
		
						<p:column 
							headerText="Customer Name"
							styleClass="item-name">
							<h:outputText value="#{purchaseSummary.customerSummary.name}" />
						</p:column>
						
						<p:column 
							headerText="Phone no"
							styleClass="item-name">
							<h:outputText value="#{purchaseSummary.customerSummary.phoneNo}" />
						</p:column>
						
						<p:column 
							headerText="Reference Code"
							styleClass="item-name">
							<h:outputText value="#{purchaseSummary.referenceCode}" />
						</p:column>
						
						<p:column 
							headerText="Purchase Amount"
							styleClass="item-name">
							<h:outputText value="#{purchaseSummary.purchaseAmount}" />
						</p:column>
						
						<p:column 
							headerText="Incentive Amount"
							styleClass="item-name">
							<h:outputText value="#{purchaseSummary.incentiveAmount}" />
						</p:column>
						
						<p:column 
							headerText="Referal Incentive Amount"
							styleClass="item-name">
							<h:outputText value="#{purchaseSummary.referenceIncentiveAmount}" />
						</p:column>
						
						<p:column 
							headerText="Purchase Description"
							styleClass="item-name">
							<h:outputText value="#{purchaseSummary.purchaseDescription}" />
						</p:column>
						
						<p:column 
							headerText="Purchase Date"
							styleClass="item-name">
							<h:outputText value="#{purchaseSummary.createDate}" />
						</p:column>
		
					</p:dataTable>
				</p:dialog>
			</h:panelGroup>
			<p:confirmDialog global="true" styleClass="confirm-dialog">
				<h:panelGroup layout="block" 
						styleClass="delete-buttons-outer-panel">
					<p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</h:panelGroup>
    		</p:confirmDialog>
	</h:form>
	
</ui:composition>