<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
				
	<p:panelGrid id="referalGrid" styleClass="grid-panel">
			
		<p:row>
			<p:column>
				<p:outputLabel styleClass="team-description-label" for="code" value="#{screenController.dialogTitle}" />
			</p:column>
			<p:column>
				<p:inputText 
					id="code"
					required="true"
					requiredMessage="code can not be empty"
					value="#{manageController.code}"
					styleClass="team-name-inputText" />
					<p:message for="code" >	
						<p:effect type="fade" event="load" delay="#{errorDelay}" />
					</p:message>
			</p:column>
		</p:row>
		
	</p:panelGrid> 

</ui:composition>
