<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<p:panelGrid id="addCustomerGrid" styleClass="grid-panel">
					
			<p:row>
				<p:column>
					<p:inputText 
						id="name" 
						value="#{manageController.customerSummary.name}" 
						required="true"
						requiredMessage="Customer name is required" 
						styleClass="team-name-inputText"
						placeholder="Customer Name" />
					<p:message for="name" >	
						<p:effect type="fade" event="load" delay="#{errorDelay}" />
					</p:message>	
				</p:column>
				<p:column>
					<p:inputText 
						id="phoneno" 
						value="#{manageController.customerSummary.phoneNo}" 
						required="true"
						converterMessage="Please enter digits only."
						requiredMessage="Phone no is required"
						validatorMessage="Please enter 10 digits."
						styleClass="team-name-inputText"
						placeholder="Phono No" >
						<f:validateLength minimum="10" maximum="10" />
					</p:inputText>
					<p:message for="phoneno" >	
						<p:effect type="fade" event="load" delay="#{errorDelay}" />
					</p:message>
				</p:column>
			</p:row>
				
			<p:row>
				<p:column colspan="2">
					<p:inputTextarea id="address" 
						value="#{manageController.customerSummary.address}" 
						cols="40"
						rows="3"
						styleClass="team-description-inputTextarea"
						placeholder="Address"/>
				</p:column>
			</p:row>
			
			<p:row>
				<p:column>
					<p:inputText 
						id="accountHolderName" 
						value="#{manageController.customerSummary.accountHoldername}" 
						styleClass="team-name-inputText"
						placeholder="Account Holder Name" >
					</p:inputText>
				</p:column>
				<p:column>
					<p:inputText 
						id="accountNo" 
						value="#{manageController.customerSummary.bankAccountNo}" 
						styleClass="team-name-inputText"
						placeholder="Account Number" >
					</p:inputText>
				</p:column>
			</p:row>
			
			<p:row>
				<p:column>
					<p:inputText 
						id="ifsccode" 
						value="#{manageController.customerSummary.ifscCode}" 
						styleClass="team-name-inputText"
						placeholder="IFSC Code" >
					</p:inputText>
				</p:column>
				<p:column>
					<p:inputText 
						id="branchname" 
						value="#{manageController.customerSummary.branchName}" 
						styleClass="team-name-inputText"
						placeholder="Branch Name" >
					</p:inputText>
				</p:column>
			</p:row>
			
			<p:row>
				<p:column>
					<p:inputText 
						id="purchaseamount" 
						converterMessage="Please enter digits only."
						requiredMessage="Purchase amount is required"
						value="#{manageController.purchaseSummary.purchaseAmount}"
						styleClass="team-name-inputText"
						placeholder="Purchase Amount" />
						<p:message for="purchaseamount" >	
							<p:effect type="fade" event="load" delay="#{errorDelay}" />
						</p:message>
				</p:column>
				<p:column>
					<p:inputText 
						id="incentiveamount"
						converterMessage="Please enter digits only."
						value="#{manageController.purchaseSummary.incentiveAmount}"
						styleClass="team-name-inputText"
						placeholder="Incentive Amount"
						disabled="#{!(manageController.isExistingCustomer or manageController.isReferalCustomer)}" />
						<p:message for="incentiveamount" >	
							<p:effect type="fade" event="load" delay="#{errorDelay}" />
						</p:message>
				</p:column>
			</p:row>
			
			<p:row rendered="#{screenController.isReferenceCodeCorrect}">
				<p:column>
					<p:outputLabel value="Referred Customer Name : #{manageController.referredCustomerName}" />
				</p:column>
				<p:column>
					<p:inputText 
						id="referenceIncentive"
						value="#{manageController.purchaseSummary.referenceIncentiveAmount}"
						styleClass="team-name-inputText" 
						placeholder="Referal Incentive Amount"/>
				</p:column>
			</p:row>
		
			<p:row>
				<p:column colspan="2">
					<p:inputTextarea id="purchasedescription" 
						value="#{manageController.purchaseSummary.purchaseDescription}" 
						cols="40"
						rows="3"
						placeholder="Purchase Description"
						styleClass="team-description-inputTextarea"/>
				</p:column>
			</p:row>
			
	</p:panelGrid> 
</ui:composition>
