<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form prependId="false">
		<p:dialog 
			id="customerDlg"
			widgetVar="customerDlgWdg" 
			modal="false"
			draggable="false"
			resizable="false"
			styleClass="mysore-dialog"
			>
		
			<p:ajax event="close" 
					update="@([id$=customerDlg])" 
					listener="#{manageController.doCancle}"
					resetValues="true"/>
					
			<f:facet name="header">
				<p:outputLabel id="headerText" value="#{screenController.dialogTitle}" />
			</f:facet>
				
			<h:panelGroup layout="block" id="dialogContentPanel">
			
				<h:panelGroup layout="block" rendered="#{screenController.showNewCustomerPanel or screenController.showExistingCustomerPanel}">
					<ui:include src="new_customer.xhtml" />
				</h:panelGroup>
			
				<h:panelGroup layout="block" rendered="#{screenController.showEnterCodePanel}">
					<ui:include src="enter_code.xhtml" />
				</h:panelGroup>
				
			</h:panelGroup>
			
			<f:facet name="footer">
				<h:panelGroup layout="block" id="dialogFooterPanel" styleClass="team-buttons-outer-panel"> 
				
					<p:commandButton value="Save" 
							actionListener="#{manageController.saveCustomerPurchase}" 
							rendered="#{screenController.showNewCustomerPanel or screenController.showExistingCustomerPanel}"
							update="customerDlg, @([id$=outerPanel]), @([id$=messageForm])"
							validateClient="true" 
							oncomplete="if(args &amp;&amp; !args.validationFailed &amp;&amp; args.isValid){PF('customerDlgWdg').hide();}else{PF('customerDlgWdg').show();}PF('customerTableWdg').filter();"
							styleClass="team-save-button" />
							
					<p:commandButton value="Check" 
							actionListener="#{manageController.checkReferenceCode}" 
							rendered="#{screenController.showEnterCodePanel}"
							update="customerDlg"
							validateClient="true" 
							oncomplete="PF('customerDlgWdg').show();PF('customerTableWdg').filter();"
							styleClass="team-save-button" />
									
					<p:commandLink value="Cancel" 
							onclick="PF('customerDlgWdg').hide();PF('customerTableWdg').filter();"
							actionListener="#{manageController.doCancle}" 
							immediate="true"
							update="customerDlg, @([id$=outerPanel])" 
							styleClass="team-cancel-link" />
							
				</h:panelGroup>
			</f:facet>

		</p:dialog>
		
	</h:form>
</ui:composition>